In [1]:
import pandas as pd

In [2]:
cells = pd.read_csv("高负荷小区列表.csv")
mdt_cell=pd.read_csv('50.csv')

In [3]:
mdt_cell['total_rsp'] = mdt_cell.apply(lambda x:x['AVG_RSRP']*x['GRID_CELL_SAMPLES'],axis=1)
grouped = pd.DataFrame(mdt_cell.groupby('ECI').sum())

In [4]:
merged = pd.merge(cells,grouped,right_on='ECI',left_on='小区ECI')

In [5]:
merged['SDATE']="2018/4/1"

In [6]:
merged['小区弱覆盖率（小于-110dBm）']=merged.apply(lambda x: round(x['POORCOVERAGE110']/x['GRID_CELL_SAMPLES']*10000)/100.0,axis=1)
merged['小区平均RSRP']=merged.apply(lambda x:round(x['total_rsp']/x['GRID_CELL_SAMPLES']*100)/100.0,axis=1)

In [7]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 17 columns):
地市                   31 non-null object
小区ECI                31 non-null int64
基站ID                 31 non-null int64
小区CI                 31 non-null int64
场景                   31 non-null object
大数据平台场景              31 non-null object
厂家                   31 non-null object
是否为高负荷待扩容小区          31 non-null object
AVG_RSRP             31 non-null float64
POORCOVERAGE110      31 non-null int64
GRID_CELL_SAMPLES    31 non-null int64
GRIDX                31 non-null int64
GRIDY                31 non-null int64
total_rsp            31 non-null float64
SDATE                31 non-null object
小区弱覆盖率（小于-110dBm）    31 non-null float64
小区平均RSRP             31 non-null float64
dtypes: float64(4), int64(7), object(6)
memory usage: 4.4+ KB

In [8]:
eci_mdt=merged[['SDATE','地市','小区ECI','基站ID','小区CI','场景','大数据平台场景','厂家','是否为高负荷待扩容小区','小区平均RSRP','GRID_CELL_SAMPLES','POORCOVERAGE110','小区弱覆盖率（小于-110dBm）']]

In [9]:
eci_mdt.to_csv('eci_mdt.csv',index=False)

In [10]:
mdt_cell.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512880 entries, 0 to 512879
Data columns (total 9 columns):
SDATE                512880 non-null object
CITY                 512880 non-null object
ECI                  512880 non-null int64
AVG_RSRP             512880 non-null float64
POORCOVERAGE110      512880 non-null int64
GRID_CELL_SAMPLES    512880 non-null int64
GRIDX                512880 non-null int64
GRIDY                512880 non-null int64
total_rsp            512880 non-null float64
dtypes: float64(2), int64(5), object(2)
memory usage: 35.2+ MB

In [11]:
mdt_cell['position']=mdt_cell.apply(lambda x:(x['GRIDX'],x['GRIDY']),axis=1)

In [15]:
mdt_cell.tail()

,SDATE,CITY,ECI,AVG_RSRP,POORCOVERAGE110,GRID_CELL_SAMPLES,GRIDX,GRIDY,total_rsp,position
512875,2018/4/1,XINXIANG,63839745,-78.0,0,3,252882,78828,-234.0,"(252882, 78828)"
512876,2018/4/1,XINXIANG,63839745,-85.9,0,159,253038,78871,-13658.1,"(253038, 78871)"
512877,2018/4/1,XINXIANG,63839745,-89.8,1,4,252874,78813,-359.2,"(252874, 78813)"
512878,2018/4/1,XINXIANG,63839745,-72.0,0,6,252891,78829,-432.0,"(252891, 78829)"
512879,2018/4/1,XINXIANG,63839745,-80.9,0,200,252877,78826,-16180.0,"(252877, 78826)"

In [16]:
valid = pd.DataFrame(mdt_cell.groupby(['ECI','position']).sum())

In [17]:
valid=valid[valid['GRID_CELL_SAMPLES']>20]
valid

                           AVG_RSRP  POORCOVERAGE110  GRID_CELL_SAMPLES  \
ECI       position
1250432   (252262, 77134)     -96.0                0                 84
          (252542, 77450)     -76.0                0                 60
          (252579, 77135)     -88.0                0                 24
          (252601, 77489)     -82.0                0                 30
          (252603, 77342)     -90.0                0                 93
          (252616, 77318)     -79.0                0                 46
          (252633, 77356)     -86.0                0                 66
          (252687, 77660)     -80.0                0                 54
          (252791, 77181)     -78.2                0                 80
          (252805, 77813)     -83.1                0                 64
          (252820, 77123)     -91.0                0                 36
          (252859, 77746)     -84.6                0                120
          (252868, 77962)     -88.1                0                 52
          (252891, 78230)     -78.0                0                 30
          (252900, 76712)     -71.0                0                 42
          (252913, 77978)    -101.7                9                270
          (252945, 77664)     -90.5                0                 24
          (252952, 77763)     -82.0                0                 66
          (252982, 77790)     -80.8                0                 96
          (252992, 77669)     -84.0                0                 48
          (253003, 77807)     -70.1                0                 73
          (253016, 77824)     -80.8                0                 72
          (253020, 77867)     -91.0                0                 24
          (253022, 78467)     -84.5                0                 96
          (253046, 77829)     -73.0                0                 54
          (253050, 75753)     -83.3                0                 42
          (253072, 77837)     -83.0                0                 30
          (253076, 77843)     -85.0                0                 21
          (253087, 77920)     -83.0                0                 24
          (253095, 77815)     -77.0                0                 42
...                             ...              ...                ...
235336064 (253039, 78338)     -92.3                3                438
          (253039, 78344)     -87.5                0                 56
          (253039, 78345)     -87.6                0                327
          (253039, 78346)     -87.0                0                419
          (253039, 78347)     -81.9                0                155
          (253039, 78348)     -79.4                0                 46
          (253040, 78338)     -77.3                0                507
          (253040, 78339)     -75.1                2                424
          (253040, 78340)     -76.3               14                946
          (253040, 78341)     -84.4               15               1449
          (253040, 78342)     -85.7                0               1711
          (253040, 78343)     -83.1                0                170
          (253040, 78344)     -87.3                0                105
          (253040, 78345)     -87.6                0                123
          (253041, 78338)     -78.0                0                123
          (253041, 78339)     -83.1                0                 55
          (253041, 78340)     -96.1                1                 92
          (253041, 78341)    -103.0                0                 58
          (253041, 78343)     -92.0                0                 38
          (253042, 78338)     -97.4               37               2185
          (253042, 78339)     -85.5                0                123
          (253042, 78348)     -80.0                0                284
          (253043, 78338)     -87.4                7                 66
          (253044, 78341)    -108.8               39                 83
          (253044, 78354)     -77.0                0                138
          (253045, 78340)    -108.3                3                 21
          (253047, 78339)     -75.0                0                300
          (253060, 78352)     -74.0                0                 30
          (253080, 78370)     -94.0                0                 79
          (253177, 78440)    -104.0                0                101

                            GRIDX  GRIDY  total_rsp
ECI       position
1250432   (252262, 77134)  252262  77134    -8064.0
          (252542, 77450)  252542  77450    -4560.0
          (252579, 77135)  252579  77135    -2112.0
          (252601, 77489)  252601  77489    -2460.0
          (252603, 77342)  252603  77342    -8370.0
          (252616, 77318)  252616  77318    -3634.0
          (252633, 77356)  252633  77356    -5676.0
          (252687, 77660)  252687  77660    -4320.0
          (252791, 77181)  252791  77181    -6256.0
          (252805, 77813)  252805  77813    -5318.4
          (252820, 77123)  252820  77123    -3276.0
          (252859, 77746)  252859  77746   -10152.0
          (252868, 77962)  252868  77962    -4581.2
          (252891, 78230)  252891  78230    -2340.0
          (252900, 76712)  252900  76712    -2982.0
          (252913, 77978)  252913  77978   -27459.0
          (252945, 77664)  252945  77664    -2172.0
          (252952, 77763)  252952  77763    -5412.0
          (252982, 77790)  252982  77790    -7756.8
          (252992, 77669)  252992  77669    -4032.0
          (253003, 77807)  253003  77807    -5117.3
          (253016, 77824)  253016  77824    -5817.6
          (253020, 77867)  253020  77867    -2184.0
          (253022, 78467)  253022  78467    -8112.0
          (253046, 77829)  253046  77829    -3942.0
          (253050, 75753)  253050  75753    -3498.6
          (253072, 77837)  253072  77837    -2490.0
          (253076, 77843)  253076  77843    -1785.0
          (253087, 77920)  253087  77920    -1992.0
          (253095, 77815)  253095  77815    -3234.0
...                           ...    ...        ...
235336064 (253039, 78338)  253039  78338   -40427.4
          (253039, 78344)  253039  78344    -4900.0
          (253039, 78345)  253039  78345   -28645.2
          (253039, 78346)  253039  78346   -36453.0
          (253039, 78347)  253039  78347   -12694.5
          (253039, 78348)  253039  78348    -3652.4
          (253040, 78338)  253040  78338   -39191.1
          (253040, 78339)  253040  78339   -31842.4
          (253040, 78340)  253040  78340   -72179.8
          (253040, 78341)  253040  78341  -122295.6
          (253040, 78342)  253040  78342  -146632.7
          (253040, 78343)  253040  78343   -14127.0
          (253040, 78344)  253040  78344    -9166.5
          (253040, 78345)  253040  78345   -10774.8
          (253041, 78338)  253041  78338    -9594.0
          (253041, 78339)  253041  78339    -4570.5
          (253041, 78340)  253041  78340    -8841.2
          (253041, 78341)  253041  78341    -5974.0
          (253041, 78343)  253041  78343    -3496.0
          (253042, 78338)  253042  78338  -212819.0
          (253042, 78339)  253042  78339   -10516.5
          (253042, 78348)  253042  78348   -22720.0
          (253043, 78338)  253043  78338    -5768.4
          (253044, 78341)  253044  78341    -9030.4
          (253044, 78354)  253044  78354   -10626.0
          (253045, 78340)  253045  78340    -2274.3
          (253047, 78339)  253047  78339   -22500.0
          (253060, 78352)  253060  78352    -2220.0
          (253080, 78370)  253080  78370    -7426.0
          (253177, 78440)  253177  78440   -10504.0

[235868 rows x 6 columns]

In [18]:
mdt_count={}
for (ECI,pos),group in valid.iterrows():
    if mdt_count.get(ECI):
        mdt_count[ECI].add(pos)
    else:
        mdt_count[ECI]=set()
        mdt_count[ECI].add(pos)

In [28]:
len(mdt_count.keys())

In [39]:
count=0
data=[]
for i in mdt_count.keys():
    if i  in cells[['小区ECI']].values:
        for j in mdt_count.keys():
            if i!=j:
                rate = round(len(mdt_count[i]&mdt_count[j])/len(mdt_count[i])*10000)/100.0
                if  rate>50:
                    count+=1
                    data.append([i,j,rate])
                    print(row)
                  
print(count)
overlap50=pd.DataFrame(data,columns=['eci','pair_eci','rate'])

                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
                     0
eci       2.351668e+08
pair_eci  2.351669e+08
rate      6.561000e+01
32

In [40]:
overlap50

          eci   pair_eci   rate
0    12330752  235233924  62.50
1    12331266   12331265  55.89
2    12356097   12356098  50.72
3    12375297   12375302  65.66
4    33424641   12356097  59.03
5    63841024  235297152  60.50
6    63841024  235297155  60.50
7    64014848   63881472  52.46
8    64014848   64014849  56.56
9    64014848  193334144  52.46
10   64060417   63847174  58.47
11   64092928   67235969  51.06
12   67209346   67209344  56.64
13   67279492   67279489  77.28
14  193362816   12344833  56.07
15  193362816   12344836  60.75
16  193362816   60826369  66.36
17  193362816   60826372  57.94
18  193362816   60827136  53.27
19  193362816   60827138  64.49
20  193362816   60827139  57.01
21  193362816   60827141  63.55
22  193362816   60827393  66.36
23  193362816   60827394  52.34
24  193362816   60827396  61.68
25  193362816   70931073  63.55
26  235166848   63868673  64.32
27  235166848  235166854  66.80
28  235166850   63868673  55.41
29  235166850  235166848  59.87
30  235166850  235166854  55.41
31  235166850  235166859  65.61

In [44]:
overlap_merged=pd.merge(overlap50,cells,left_on='eci',right_on='小区ECI')
overlap_merged.to_csv('overlap50.csv',index=False)