In [1]:
import pandas as pd
import os
from paths import paths

In [2]:
result = pd.read_csv(r'result.csv',usecols=[0,1])

In [3]:
result.head()

   wucha_min_ceil  count
0          -14701    1.0
1           -4004    1.0
2           -1752    1.0
3           -1641    1.0
4           -1337    9.0

In [10]:
import math
result['time'] = result['wucha_min_ceil'].apply(lambda x: '{} {}days {}:{}:00'.format('-' if x < 0 else '',
                                         math.floor(abs(x) / (24 * 60)),
                                         '0{}'.format(math.floor((abs(x) % (24 * 60)) / 60)) if math.floor(
                                             (abs(x) % (24 * 60)) / 60) < 10 else math.floor((abs(x) % (24 * 60)) / 60),
                                         '0{}'.format(abs(x) % 60) if abs(x) % 60 < 10 else abs(x) % 60))
result['count_rount']=result['count'].apply(lambda x:math.ceil(x))
result['time_repalce']=result['time'].apply(lambda x:x.replace(' 0days ',''))
result.head()

   wucha_min_ceil  count               time  count_rount       time_repalce
0          -14701    1.0  - 10days 05:01:00            1  - 10days 05:01:00
1           -4004    1.0   - 2days 18:44:00            1   - 2days 18:44:00
2           -1752    1.0   - 1days 05:12:00            1   - 1days 05:12:00
3           -1641    1.0   - 1days 03:21:00            1   - 1days 03:21:00
4           -1337    9.0   - 0days 22:17:00            9          -22:17:00

In [11]:
cut = result[['time_repalce','count_rount']]
cut.head()

        time_repalce  count_rount
0  - 10days 05:01:00            1
1   - 2days 18:44:00            1
2   - 1days 05:12:00            1
3   - 1days 03:21:00            1
4          -22:17:00            9

In [13]:
cut.to_csv('02-result.csv',index=False)